{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión | Intranet</title>
    <link rel="stylesheet" href="{% static 'css/panel.css' %}">
</head>

<body class="pantalla-completa">

    <main class="tarjeta tarjeta--login">
        
        <header class="cabecera-seccion">
            <h1>Ingreso a Intranet</h1>
        </header>
        
        <form method="POST" class="formulario-django">
            {% csrf_token %}
            
            {{ form.as_p }} 
            
            <button type="submit" class="btn btn--oscuro btn--bloque">
                Entrar
            </button>
        </form>
        
    </main>

</body>
</html>